<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UG Lost and Found</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
<title>Site</title>
</head>
<body>
    {% block title %}UGFIND ME{% endblock %}
    <header>
        <nav>
            <img src="{% static 'images/ug_logo.png' %}" alt="University of Ghana Logo">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'item_list' %}">Lost Items</a></li>
                <li><a href="{% url 'report_item' %}">Found Item</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
            </ul>
        </nav>


<p>{% block content %}some {% endblock %}</p>
</body>
</html>